.container{
    padding: 1% 20%;
}
.gst{
    background-color: black;
    color: white;
    text-align: center;
    text-shadow: 0 0 20px #fff;
}

.head{
    color: green;
    text-align: center;
}
.addHead{
    width: 100%;
    margin-bottom: 10px;
}
.todoinp{
    width: 60%;
}
.task{
    width: 85%;
}
.addbtn , .delbtn{
    margin: 0% 3%;
   
}
button{
    background-color: white;
    border: none;
    color: blue;
}
button:hover{
    color:white;
    background-color:blue;    
}
.table{
    width: 100%;
}
.addbtn2 , .delbtn2{
    text-align: center;
}
table{
    border: 1px;
    border-style: solid;
}
td{
    margin: 10px 0px;
    padding: 10px 10px;
}